ul#navbar-buttons.nav.navbar-nav{
  float:right;
  position:relative;
  top:20px;
  font-size:larger;
  font-family:'cabin';
  font-size:20px;
}

nav.navbar.navbar-default{
  padding-bottom:5%;
}

footer#footer{
  vertical-align:bottom;
  width:100%;
  padding:2%;
  bottom:0;
  background-color:black;
}

div.jumbotron{
  background-image:url(../../assets/img/odell-beckham-jr-wallpaper-nfl-super-catch.jpg);
  background-size:cover;
  height:300px;
  border-style:groove;
  margin-top:5%;
  padding-bottom:450px;
  border-top:rgb(0,133,255);
}

h1#head{
  font-weight:400;
  margin-top:8%;
  text-shadow:3px 3px rgb(10,10,13);
  color:rgb(247,239,239);
  font-size-adjust:initial;
  font-family:'Dosis';
  position:relative;
  left:6%;
  font-size:60px;
}

button#signup.btn.btn-default.btn-lg{
  position:relative;
  top:15px;
  border-style:groove;
  border-color:white;
  margin-left:10px;
}

a#signup.btn.btn-default{
  border-style:groove;
  border-color:white;
  margin-left:15%;
  background-color:rgb(0,87,255);
  margin-top:20px;
}

a#logo.navbar-brand.navbar-link{
  font-size:50px;
  position:relative;
  top:18px;
  font-family:cabin;
  font-weight:900;
  color:rgb(0,87,255);
  left:15px;
  text-shadow:2px 2px white;
}

div.modal-body{
  background-color:rgb(0,71,255);
}

p{
  color:white;
}

p#locate{
  float:right;
  position:relative;
  bottom:85px;
  right:200px;
}

input#textlocate{
  float:right;
  position:relative;
  bottom:57px;
  right:50px;
}

h4.modal-title{
  text-shadow:1px 1px;
}

div.modal-header{
  background-color:rgb(29,31,33);
  color:rgb(247,239,239);
  text-shadow:1px 1px 1px #0d3be0;
}

div#signupmodal.modal.fade.in{
  top:100px;
}

p#copyright{
  text-align:center;
  font-family:cabin;
}

